
@font-face {
  font-family: "Audiowide";
  src: url("./assets/Audiowide-Regular.ttf");
}

@font-face {
  font-family: "Roboto";
  src: url("./assets/RobotoCondensed-VariableFont_wght.ttf");
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#page {
  background-image: url(./assets/background.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

#players {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: center;
}

.winnerLabel {
  color: white;
  font-size: 4vh;
  font-family: "Roboto";
  line-height: 14vw;
}

.label {
  color: white;
  font-size: 3vh;
  font-family: "Roboto";
}

.promptInput {
  width: 90%;
  margin-top: 10%;
  margin-left: 5%;
}

.prompt {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
}

.promptLabel {
  display: flex;
  color: #F981FF;
  margin-top: 2%;
  font-family: "Audiowide";
  line-height: 7vh;
  font-size: 3vh;
  text-shadow: 2px 2px black;
}

#shareButton {
  margin-top: 10vh;
}
#drawingArea {
  width: 100%;
  height: 90vh;
  margin-top: 4%;
}

.timer {
  width: 100%;
  height: 2vh;
  background: #AAAAAA;
  position: relative;
}

.timerBar {
  width: 50%;
  height: 100%;
  background: #2DFEFF;
}

.drawLabel {
  display: flex;
  width: 90%;
  margin-left: 5%;
}

#drewTextContainer {
  width: 80vh;
  margin-left: 2%;
  margin-top: 0.5vh;
}

#drawingCanvas {
  height: 100vw;
  width: 100vw;
  background: white;
}

.promptText {
  margin-left: 1%;
  color: #F981FF;
  font-family: "Audiowide";
  font-size: 3vh;
  text-shadow: 2px 2px black;
}

.imageContainer {
  background: white;
  height: 50vh;
  margin-top: 5%;
  margin-left: 5%;
  width: 90%;
  border-radius: 5vh;
  position: relative;
  overflow: hidden;
}

.imageContainer img {
  max-width: 100%;
  max-height: 100%;
}

#winner {
  display: flex;
  line-height: 10vh;
  font-size: 4vh;
  justify-content: center;
  margin-top: 2%;
}

#winTop {
  width: 90%;
  margin-left: 5%;
  text-align: center;
}

.bigLabel {
  color: #F981FF;
  font-family: "Audiowide";
  font-size: 3vh;
}

#promptTextArea {
  width: 90%;
  height: 25vh;
  resize: none;
  background: rgba(0,0,0,0.7);
  border: 1px solid rgba(255,255,255,0.4);
  border-radius: 2vh;
  color: #F981FF;
  font-family: "Audiowide";
  font-size: 3vh;
  margin-top: 2%;
  outline: 0;
  padding: 5%;
  margin-bottom: 5%;
}

.button {
  width: 87%;
  margin-left: 5%;
  color: black;
  background: #F981FF;
  border-radius: 5vh;
  padding: 1.5vh;
  text-align: center;
  font-size: 5vh;
  font-family: "Audiowide";
  text-transform: uppercase;
}

#readyButton {
  position: absolute;

  bottom: 2vh;
}
.player {
  position: relative;
}

.thinkText {
  width: 90%;
  margin-left: 5%;
  margin-top: 10%;
  color: white;
  font-size: 3vh;
  font-family: "Audiowide";
  text-align: center;
}

.avatarBiggerImg {
  height: 14vw;
  width: 14vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

.avatarImg {
  height: 12vw;
  width: 12vw;
  margin-left: 1vw;
  margin-right: 1vw;
}

#robotAvatar {
  background-image: url(./assets/avatar.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 25vw;
  width: 20vw;
  max-width: 20vw;
  min-width: 20vw;
}

#critique {
  width: 90%;
  margin-top: 5%;
  margin-left: 5%;
  display: flex;
}

#robotText {
  color: white;
  width: 70vw;
  margin-left: 5%;
  margin-top: 5%;
  font-family: "Roboto";
  font-size: 3vh;
}
.avatarStatus {
  background-image: url(./assets/status.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  position: absolute;
  height: 7vw;
  width: 7vw;
  top: 0;
  right: 0;
}

.logo {
  background-image: url(./assets/logo.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30vh;
  width: 45vh;
  margin-left: 50%;
  transform: translate(-50%,0);
}

.screen {
  opacity: 0
}

.enabled {
  opacity: 1;
  transition: opacity 1s ease-out;
}

.disabled {
  height: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 1s ease-out;
}

.off {
  pointer-events: none;
  opacity: 0;
  height: 0;
}